<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>周报管理</title>
    <link rel="stylesheet" th:href="@{/layui_v2/css/layui.css}">
    <script type="text/javascript" th:src="@{/layui_v2/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
</head>
<body>


<div style=" background-color: honeydew;"><br/>
    <div>
        <div class="layui-inline">
            <label class="layui-form-label" style="font-size: 13px; padding: 9px 5px;">开始时间：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date" lay-verify="date"
                       style="height: 35px;" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="font-size: 13px; padding: 9px 5px;">结束时间：</label>
            <div class="layui-input-inline">
                <input type="text" name="date" id="date1" lay-verify="date"
                       style="height: 35px;" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button type="button" onclick="search()" style="margin: auto 10px;" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe615;</i>搜索</button>

        <button type="button" onclick="add()" style="margin: auto 10px;" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>写周报</button>

    </div>

    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="4%">
            <col width="10%">
            <col width="17%">
            <col width="17%">
            <col width="17%">
            <col width="17%">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>编号</th>
            <th>日期</th>
            <th>本周情况描述</th>
            <th>问题学生情况反馈</th>
            <th>意见建议</th>
            <th>下周工作计划</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody th:each="w:${weeks}">
            <tr>
                <td th:text="${w.worklogid}">225</td>
                <td th:text="${w.workday}">2016-11-29</td>
                <td th:text="${w.weekcur}">本周情况描述</td>
                <td th:text="${w.studentquestion}">问题学生情况反馈</td>
                <td th:text="${w.idea}">意见建议</td>
                <td th:text="${w.weeknext}">下周工作计划</td>
                <td>查看，删除，编辑</td>
            </tr>
        </tbody>
    </table>

</div>


<div></div>

<!-- 添加周报模块 -->
<div id="addview" style="margin: auto 50px; display: none;">
    <form class="layui-form layui-form-pane" th:action="@{/ht/add}" style="margin-top: 5px;">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><b>本周情况描述</b></label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" id="wby"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><b>问题学生情况反馈</b></label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><b>意见建议</b></label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><b>下周工作计划</b></label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<script>

    //保存到开始时间和结束时间
    var date1;
    var date2;

    //初始化
    layui.use(['form','layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,done: function(value, date, endDate) {
                date1 = value;
            }
        });
        laydate.render({
            elem: '#date1'
            ,done: function(value, date, endDate) {
                date2 = value;
            }
        });
    });

    //点击搜索
    function search() {
        if (date1 > date2) {
            //弹出层
            layer.msg('开始时间不能比结束时间新', {icon: 2, time: 1000, shade: [0.8, '#393D49'], shadeClose: true});
        } else if(date1.equals('undefined') && date1.equals('undefined')){
            layer.msg('请选择开始时间或结束时间', {icon: 2, time: 1000, shade: [0.8, '#393D49'], shadeClose: true});
        } else if (date1 != 'undefined' || date2 != 'undefined'){

        } else {
            layer.msg('时间：'+date1+"~"+date2, {icon: 1,time: 1000,shade:[0.8, '#393D49'],shadeClose:true })


        }
    }

    //添加周报信息
    function add(){
        layer.open({
            type: 1,  //不加类型页面会多出来个 【object object】
            title : '周报填写',
            content : $("#addview"),
            area : [ '90%', '90%' ]
        });
    }


</script>

</body>
</html>