<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <div th:replace="inStudent::tamllindex"></div>
    <style>
        textarea{
            outline:none;
            resize:none
        }
    </style>
</head>
<body>


<table class="layui-hide" id="studentFloor" lay-filter="studentFloor" ></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">添加楼层</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--1
    第一种解决方式：
    columns:[[    进行换行处理
    第二种就是在<script type="text/javascript" >  加上 th:inline="none"
    <script type="text/javascript"  th:inline="none">
   -->
<script th:inline="none">
    // var layer;
    // layui2.use('layer', function(){ //独立版的layer无需执行这一句
    //     var $ = layui2.jquery;
    //     layer = layui2.layer; //独立版的layer无需执行这一句
    // });

    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#studentFloor'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , url: '/studentFloor/list'
            ,limit:5//默认为10
            , title: '学生楼层表'
            , cols:
                [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'floorid', title: '楼栋编号', fixed: 'left', unresize: true, sort: true,align:'center'}
                , { field: 'floorname', title: '楼栋名称',edit: 'text', align:'center' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo',align:'center' }
            ]]
            , page: true
        });
        //头工具栏事件
        table.on('toolbar(studentFloor)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(studentFloor)', function (obj) {
            //选中行数据
            var data = obj.data;
            //data['id'] 里面的id是字段名想获取哪个写哪个
            //console.log(data['id']);
            var cid = data['floorid'];
            if (obj.event == 'del') {
                layer.confirm('确认删除吗？', function (index) {
                    $.ajax({
                        url:'/studentFloor/del',
                        data:{floorid:cid},
                        dataType: "json"
                    });
                    obj.del();
                    layer.close(index);
                });
            }else if(obj.event == 'add'){
                layer.open({
                    id:1,
                    type: 1,
                    title:'请输入要添加的楼层',
                    style: 'width:80%;height:auto;',
                    content: "<div style='display:flex;justify-content:center;'><textarea id='area' style='width:100%;height:135px;'></textarea></div>",
                    btn:['确定','取消'],
                    yes:function (index,layero) {
                        //获取输入框里面的值
                        var closeContent = top.$("#area").val() || $("#area").val();
                        if(closeContent){
                            $.ajax({
                                url:'/studentFloor/add',
                                data:{floorname:closeContent},
                                dataType: "json"
                            });
                            console.log(closeContent);
                            window.location.href = '/studentFloor/tolist'
                        }
                        layer.close(index);

                    },
                    no:function (index,layero) {
                        layer.close(index);
                    }
                });
            }
        });

        //监听单元格编辑
        table.on('edit(studentFloor)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,cid = data['floorid'];
            layer.msg(' 字段更改为：'+ value);
            $.ajax({
                url:'/studentFloor/upd',
                data:{floorid:cid,floorname:value},
                dataType: "json"
            });
        });
    });
</script>

</body>
</html>