<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.FamilyInfoMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.FamilyInfo">
    <!--@mbg.generated-->
    <!--@Table familyInfo-->
    <id column="familyid" jdbcType="INTEGER" property="familyid" />
    <result column="empid" jdbcType="INTEGER" property="empid" />
    <result column="contactName" jdbcType="VARCHAR" property="contactname" />
    <result column="relationship" jdbcType="VARCHAR" property="relationship" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    familyid, empid, contactName, relationship, phone, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from familyInfo
    where familyid = #{familyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from familyInfo
    where familyid = #{familyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="familyid" keyProperty="familyid" parameterType="com.ht.bean.FamilyInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into familyInfo (empid, contactName, relationship, 
      phone, remark)
    values (#{empid,jdbcType=INTEGER}, #{contactname,jdbcType=VARCHAR}, #{relationship,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="familyid" keyProperty="familyid" parameterType="com.ht.bean.FamilyInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into familyInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empid != null">
        empid,
      </if>
      <if test="contactname != null">
        contactName,
      </if>
      <if test="relationship != null">
        relationship,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="contactname != null">
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.FamilyInfo">
    <!--@mbg.generated-->
    update familyInfo
    <set>
      <if test="empid != null">
        empid = #{empid,jdbcType=INTEGER},
      </if>
      <if test="contactname != null">
        contactName = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="relationship != null">
        relationship = #{relationship,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where familyid = #{familyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.FamilyInfo">
    <!--@mbg.generated-->
    update familyInfo
    set empid = #{empid,jdbcType=INTEGER},
      contactName = #{contactname,jdbcType=VARCHAR},
      relationship = #{relationship,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where familyid = #{familyid,jdbcType=INTEGER}
  </update>
</mapper>