<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.Project">
    <!--@mbg.generated-->
    <!--@Table Project-->
    <id column="projectId" jdbcType="INTEGER" property="projectid" />
    <result column="projectName" jdbcType="VARCHAR" property="projectname" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    projectId, projectName, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from Project
    where projectId = #{projectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from Project
    where projectId = #{projectid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="projectId" keyProperty="projectid" parameterType="com.ht.bean.Project" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into Project (projectName, remark)
    values (#{projectname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="projectId" keyProperty="projectid" parameterType="com.ht.bean.Project" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into Project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectname != null">
        projectName,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectname != null">
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.Project">
    <!--@mbg.generated-->
    update Project
    <set>
      <if test="projectname != null">
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where projectId = #{projectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.Project">
    <!--@mbg.generated-->
    update Project
    set projectName = #{projectname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where projectId = #{projectid,jdbcType=INTEGER}
  </update>
</mapper>