<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.TrialMapper">
  <resultMap id="BaseResultMap" type="com.ht.bean.Trial">
    <!--@mbg.generated-->
    <!--@Table trial-->
    <id column="trialid" jdbcType="INTEGER" property="trialid" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="empid" jdbcType="INTEGER" property="empid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    trialid, `date`, `time`, courseid, `type`, empid, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from trial
    where trialid = #{trialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from trial
    where trialid = #{trialid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="trialid" keyProperty="trialid" parameterType="com.ht.bean.Trial" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into trial (`date`, `time`, courseid, 
      `type`, empid, remark
      )
    values (#{date,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{courseid,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{empid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="trialid" keyProperty="trialid" parameterType="com.ht.bean.Trial" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into trial
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        `date`,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="empid != null">
        empid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        #{empid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.bean.Trial">
    <!--@mbg.generated-->
    update trial
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="empid != null">
        empid = #{empid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where trialid = #{trialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.bean.Trial">
    <!--@mbg.generated-->
    update trial
    set `date` = #{date,jdbcType=VARCHAR},
      `time` = #{time,jdbcType=VARCHAR},
      courseid = #{courseid,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      empid = #{empid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where trialid = #{trialid,jdbcType=INTEGER}
  </update>
</mapper>